body {
  font-family: 'Montserrat';
  background-image: url("img/photobg1.jpg");
  background-repeat: no-repeat;  
  background-position: 353px top;
  max-width: 1800px;
  
}
.box {
  display: flex;
  max-width: 1300px;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  list-style: none;
  gap: 45px;
    
}
.product-cards {
  width: 340px;
  padding: 20px;
  background-color: #F7F7FA;
  margin: 0;
  border: 10px solid #F7F7FA;
  box-sizing: border-box;
  
}
.product-cards img {
  display: block;
  width: 100%;
  margin: auto;
}
.title {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 70px;
  line-height: 78px;
  text-align: center;
  color: #515076;
  margin-top: 220px;
  margin-bottom: 110px;
  }
.product-cards__skin-type {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  color: #A5A3B9;
  text-transform: uppercase;
}
.product-cards__prd-name,.product-cards__price {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #515076;
}
.product-cards__description,.product-cards__list {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #515076;
  list-style: circle;
}
.product-cards__cost {
  display: flex;
  justify-content: space-between; 
}